footer {
    width: 100%;
    z-index: 999;
}

#footer {
    height: 50px;
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    color: var(--light);
    margin: 0 10px;
}

footer a:hover {
    color: var(--tertiary);
}